<section class="inner-pages">
  <div class="container">
    <h1>Events</h1>
    <div class="event-page">
      <div class="event-img"><img src="./assets/images/fbimage7.jpg" alt=""></div>
      <div class="event-img"><img src="./assets/images/fbimage8.jpg" alt=""></div>
      <div class="event-img"><img src="./assets/images/fbimage1.jpg" alt=""></div>
      <div class="event-img"><img src="./assets/images/fbimage2.jpg" alt=""></div>
      <div class="event-img"><img src="./assets/images/fbimage3.jpg" alt=""></div>
      <div class="event-img"><img src="./assets/images/fbimage4.jpg" alt=""></div>
      <div class="event-img"><img src="./assets/images/fbimage5.jpg" alt=""></div>
      <div class="event-img"><img src="./assets/images/fbimage6.jpg" alt=""></div>
      <div class="event-img"><img src="./assets/images/events-side-saddle.jpg" alt=""></div>
      <div class="event-img"><img src="./assets/images/events-side-saddle1.jpg" alt=""></div>
    </div>

  </div>

  <div class="fac-con">
   
    <div class="container">

      <strong>Spring Hollow Farm/ Briar Cottage Farm LLC has special events throughout the year. Updates ongoing :-</strong>
      <strong class="pre-register">
        Pre-Register/Register below events via <a href="mailto:springhollowfarm1@gmail.com" target="_top">Email</a> or Text us on (859) 509-6137
      </strong>
      <strong>July 2018</strong>
      <p>
        July 9-13.  Summer Horse Camp
      </p>
      <p>
        July 11-14. Search and Rescue Equine Scent Training. Beginning 11-12 .Intermediate 13-14.

      </p>
      <strong>August 2018</strong>
      <p>August 9 and 23</p>
      <p>Thursday Archery and Games Night ( practice equine archery and medieval games). 6-9 pm, $5 fee for toy fund.</p>

      <strong>September 2018</strong>
      <p>Sept 3,10,17,24.....</p>
      <p>Monday Nights Horse Club for participants of Summer Camp. $100 per month, Ongoing, 5-8 pm.</p>
      <p>Sept 13. Archery and Games Night</p>
      <p>Sept 22. Tuatha de Fania Dun</p>
      <p>Sept 29. Mounted War Games (IN)</p>

      <strong>October 2018</strong>
      <p>Oct 6&7. Sidesaddle Clinic.</p>

      <strong>November 2018</strong>
      <p>Coming soon.....</p>
      <strong>December 2018</strong>
      <p>Coming soon.....</p>
    </div>
  </div>

</section>
