<div class="inner-pages">
  <div class="container">
  <h1>About Us</h1>
  <div class="about-us">
      <div class="about-gallery">
          <div class="about-img"><img src="./assets/images/abouut1.jpg" alt=""></div>
          <div class="about-img"><img src="./assets/images/about-2.jpg" alt=""></div>
          <div class="about-img"><img src="./assets/images/about-3.jpg" alt=""></div>
          <div class="about-img"><img src="./assets/images/about-4.jpg" alt=""></div>
          <div class="about-img"><img src="./assets/images/about-5.jpg" alt=""></div>
          </div>
  <div class="left-img"><img src="./assets/images/about-us.jpg" alt=""></div><div class="right-about"><p>Spring Hollow Akhal Tekes is nestled in a valley above the palisades of the Kentucky River in southern Jessamine county, Ky. We keep a half dozen purebred Akhal Teke breeding horses plus young stock for sale. The narrow build, good endurance and smooth slinky gaits make these horses appealing for long hours in the saddle over challenging trails. The athleticism and good minds make for good using horses. Ours are jumpers, fox hunters, work cattle, do dressage, parades, search and rescue, and are children's riding camp mounts.
  Our sister company, Briar Cottage LLC, is devoted to bringing equine opportunities into the local community. Briar Cottage offers affordable riding lesson packages, clinics and camps for children and adults, using mostly pure and partbred akhal tekes. Briar Cottage also manages the very private and exclusive boarding operation at Spring Hollow.</p></div>
  </div>
  
  </div>
  
  </div>