<section id="demos">
  <div class="large-12 columns">
    <div class="owl-carousel owl-theme">
      <div class="item">
        <img src="./assets/images/img1.jpg" alt="">
        <h4>Lorem ipsum</h4>
      </div>
      <div class="item">
        <img src="./assets/images/img2.jpg" alt="">
        <h4>Lorem ipsum</h4>
      </div>
      <div class="item">
        <img src="./assets/images/img3.jpg" alt="">
        <h4>Lorem ipsum</h4>
      </div>
      <div class="item">
        <img src="./assets/images/img4.jpg" alt="">
        <h4>Lorem ipsum</h4>
      </div>
      <div class="item">
        <img src="./assets/images/img1.jpg" alt="">
        <h4>Lorem ipsum</h4>
      </div>
      <div class="item">
        <img src="./assets/images/img2.jpg" alt="">
        <h4>Lorem ipsum</h4>
      </div>
      <div class="item">
        <img src="./assets/images/img3.jpg" alt="">
        <h4>Lorem ipsum</h4>
      </div>
      <div class="item">
        <img src="./assets/images/img4.jpg" alt="">
        <h4>Lorem ipsum</h4>
      </div>
    </div>
  </div>
</section>

<section class="contact-us-sec">
  <div class="container">
    <div class="contact-in">
      <div class="col-md-5">
        <div class="contact-us-form">
          <h2>Contact Us</h2>
          <ul>
            <li>
              <input type="text" [(ngModel)]="user.firstName" placeholder="First Name">
            </li>
            <li>
              <input type="text" [(ngModel)]="user.lastName" placeholder="Last Name">
            </li>
            <li>
              <input type="text" [(ngModel)]="user.email" placeholder="Email">
            </li>
            <li>
              <input type="text" [(ngModel)]="user.phone" placeholder="Phone number">
            </li>
            <li>
              <textarea [(ngModel)]="user.message" placeholder="Message"></textarea>
            </li>
            <button class="sub-btn" (click)="submitInfo()">Submit</button>
          </ul>
        </div>
      </div>
      <div class="col-md-7">
        <div class="contact-adress">
          <h2>Farm Address</h2>
          <ul>
            <li>
              2457 Handys Bend rd,<br>
              Wilmore, KY 40390<br>
              United States
            </li>
            <li>
              Owners Cindy Sither and Dennis Cross<br>
              (859) 509-6137, 859-576-9271
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="gallery-part">
  <div class="container">
    <div class="gallery-img"><img src="./assets/images/gallery1.jpg" alt=""></div>
    <div class="gallery-img"><img src="./assets/images/gallery2.jpg" alt=""></div>
    <div class="gallery-img"><img src="./assets/images/gallery3.jpg" alt=""></div>
    <div class="gallery-img"><img src="./assets/images/gallery4.jpg" alt=""></div>
    <div class="gallery-img"><img src="./assets/images/gallery5.jpg" alt=""></div>
    <div class="gallery-img"><img src="./assets/images/gallery6.jpg" alt=""></div>
    <div class="gallery-img"><img src="./assets/images/gallery7.jpg" alt=""></div>
    <div class="gallery-img"><img src="./assets/images/gallery8.jpg" alt=""></div>
  </div>
</section>
