<div class="inner-pages">
  <div class="container">
  <h1>Services</h1>
  <div class="service-us">
  <p>
  Spring Hollow offers a variety of services through Briar Cottage LLC.
  We require riders to fill out a liability release and wear an approved ASTM riding helmet( we have or bring yours). We have an upper weight limit of 225 lbs to ride our horses. ( we have one horse who can carry 275, additional $20 fee)</p>
  <div class="listing">
  <p><strong>Horse Boarding
  There are a very limited number of full board stalls available.<br> 
  Full board includes:</strong></p>
  <ul><li><a href="#">morning and evening feed and hay</a></li>
  <li><a href="#">daily turn-out</a></li>
  <li><a href="#">daily stall clean</a></li>
  <li><a href="#">blanket changes</a></li>
  <li><a href="#">night checks</a></li>
  <li><a href="#">some availability for farm personnel to hold for blacksmith and vet appointments</a></li>
  </ul>
  </div>
  
  <div class="listing">
  <p><strong>Concierge services:
  ( additional charge, limited availability)</strong></p>
  <ul><li><a href="#">grooming, tack-up, un-tack and cool down, tack cleaning</a></li>
  </ul>
  
  </div>
  
  <div class="service-content">
  <p>Full Board: $550 per month</p>
  
  <p>Trail Ride Lessons</p>
  <p>Must be pre-reserved</p>
  <p>One hour trail riding lesson, begin with safety briefing and practice in arena followed by guided trail ride through our woods, up and down hills, stream crossings. </p>
  <p>$40 apiece for 1-2 people</p>
  <p>$35 apiece for 3-5 people</p></div>
  
  <div class="listing">
  <p><strong>Riding lesson packages
  Children's riding camps:</strong></p>
  <ul><li><a href="#">5 day, 4 hours daily, during summer, fall, winter and spring school breaks. $175</a></li>
  </ul></div>
  <div class="listing">
  <p><strong>Children and adult packages:</strong></p>
  <ul>
  <li><a href="#">8 week lesson packages, an hour one day a week. $160</a></li>
  <li><a href="#">weekend packages: 2 hrs each day Fri, Sat and Sun $150</a></li>
  </ul>
  
  </div>
  
  <div class="listing">
  <p><strong>Play days, $5, 
  Topics include: </strong></p>
  <ul>
  <li><a href="#">trail obstacle practice</a></li>
  <li><a href="#">medieval games practice</a></li>
  <li><a href="#">mounted archery</a></li>
  <li><a href="#">mini- trial</a></li>
  </ul>
  
  </div><p>Horse rental $15( with approval to known riders only)</p>
  
  <div class="listing">
  <p><strong>We are happy to work within guidelines to provide affordable riding clinics for: </strong></p>
  <ul>
  <li><a href="#">Girl Scouts and Boy Scouts of America (for badge requirements or as an outing)</a></li>
  <li><a href="#">church groups</a></li>
  <li><a href="#">homeschool groups</a></li>
  <li><a href="#">clubs</a></li>
  
  </ul>
  
  </div>
  </div>
  
  </div>
  
  </div>