<section id="station-page">
  <div class="container">
    <h2>Mascot</h2>
    <div class="station-top-images">
      <div class="station-item">
        <img src="./assets/images/mass-1.jpg" alt="">
        <!-- <h4>Lorem ipsum</h4> -->
      </div>
      <!-- <div class="station-item">
        <img src="./assets/images/mass-2.jpg" alt="">
        
      </div> -->
      <!-- <div class="station-item">
        <img src="./assets/images/mass-3.jpg" alt="">
        
      </div> -->
      <div class="station-item">
        <img src="./assets/images/mass-4.jpg" alt="">
        
      </div>

    </div>
  </div>
  <div class="product-des">
    <div class="container">
      <div class="col-md-6">
        <div class="single-img">
          <img src="./assets/images/sinhle-moss.jpg" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="product-des-content">
          <h2>Mascot </h2>
          <p>B. 7/4/2012
            <br> 16.3 hands
            <br> Sire Line: Sere.</p>

          <p>Mascot carries on the rare Sere sire line, good work ethic, serious demeanor, very bonded to his human. Smooth,
            slinky relaxed gaits, talented jumper.</p>
            
          <p> AI, cooled semen only. <br>
             Stud fee: $300 plus collection and shipment expenses. 
             Collected and shipped from Rood and
            Riddle Equine Hospital, Lexington, Ky. <br>
            <strong> (Collection fees and shipping generally $400-700)</strong></p>
        </div>
      </div>

    </div>
  </div>
  <div class="mascort-form">
    <div class="container">
      <div class="mascot-tab">
        <h4>Mascot</h4>
        <img src="./assets/images/arrow.png" alt="">
      </div>
      <div class="form">
        <img src="./assets/images/macot-form.jpg" alt="">
      </div>

    </div>
  </div>
  <div class="secnd-sec">
    <div class="container">
      <h2>Lucero</h2>
      <div class="station-top-images">
        <div class="station-item">
          <img src="./assets/images/luc-1.jpg" alt="Lucero-1">
          <!-- <h4>Lorem ipsum</h4> -->
        </div>
        <div class="station-item">
          <img src="./assets/images/luc-2.jpg" alt="Lucero-2">
         
        </div>
        <div class="station-item">
          <img src="./assets/images/luc-3.jpg" alt="Lucero-3">
         
        </div>
        <!-- <div class="station-item">
          <img src="./assets/images/luc-4.jpg" alt="Lucero-4">
          
        </div> -->

      </div>
    </div>
    <div class="product-des">
      <div class="container">
        <div class="col-md-6 right-side-box">
          <div class="single-img">
            <img src="./assets/images/luc-big.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="product-des-content">
            <h2>Lucero </h2>
            <p>B. 6/27/2012
              <br> 15 hands
              <br> Sire Line: Sere</p>
            <p>Laid back demeanor, correct movement ( 1st and 2nd in his first dressage show). Prefers a variety of under saddle
              activities. </p>

              <p> AI, cooled semen only. <br>
                Stud fee: $300 plus collection and shipment expenses. 
                Collected and shipped from Rood and
               Riddle Equine Hospital, Lexington, Ky. <br>
               <strong> (Collection fees and shipping generally $400-700)</strong></p>
          </div>
        </div>




      </div>
    </div>
    <div class="mascort-form ">
      <div class="container">
        <div class="mascot-tab right-side-box">
          <h4>Lucero</h4>
          <img src="./assets/images/right-arrow.png" alt="">
        </div>
        <div class="form">
          <img src="./assets/images/lucero-form.jpg" alt="">
        </div>

      </div>
    </div>
  </div>
</section>