<div class="inner-pages">
  <div class="container">
    <div class="tab">
      <button class="tablinks active" (click)="openTab($event, 'Services')">Services</button>
      <button class="tablinks" [ngClass]="getCartNotification()" value="{{order.products.length}}" (click)="openTab($event, 'Cart')">Cart</button>
    </div>

    <div id="Services" class="tabcontent">
      <div class="card-list" >
        <div class="card" *ngFor='let service of services'>
          <img src="{{'./assets/images/'+service.image}}" alt="Buy Now" style="width:100%">
          <p><strong> {{service.name}}</strong></p>
          <p class="price">${{service.price}}</p>
          <p *ngIf="service.additionalFees.length > 0" > <strong>+</strong></p>
            <div class="" *ngFor='let fee of service.additionalFees'>
              <p><strong>{{fee.key}}</strong> : ${{fee.value}} </p>
            </div>
          <p>{{service.description}}</p>
          <p *ngIf="service.metaData.length > 0">Meta Data</p>
          <div class="" *ngFor='let data of service.metaData'>
            <p><strong>{{data.key}}</strong> :{{data.value}} </p>
          </div>
          <p><button  (click)="onCartAdd($event,service)" >Add to Cart</button></p>
        </div>
      </div>
    </div>

    <div id="Cart" class="tabcontent">
      <div *ngIf="order.products.length <= 0 && !paymentCompleted">
        <p class="text-center">No items in the Cart !</p>
      </div>
      <div class="alert alert-success" *ngIf="order.products.length <= 0 && paymentCompleted">
        <p class="text-center">Your payment is completed, Thank You!</p>
      </div>
      <div *ngIf="order.products.length > 0">
        <div class="col-md-8">
          <h2>Please Enter Your Details</h2>
          <form #orderForm="ngForm" name="contactUsForm" (ngSubmit)="submitInfo(contactUsForm)">
            <ul>
              <li>
                <input type="text" [(ngModel)]="order.firstName" name="firstName" (change)="onchangeForm(orderForm)" required placeholder="First Name" #firstName="ngModel">
                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched || submitted)"
                     class="alert alert-danger">First Name is required.</div>
              </li>
              <li>
                <input type="text" [(ngModel)]="order.lastName" name="lastName" (change)="onchangeForm(orderForm)" required placeholder="Last Name" #lastName="ngModel">
                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched  || submitted)"
                     class="alert alert-danger">Last Name is required.</div>
              </li>
              <li>
                <input type="email" [(ngModel)]="order.email" placeholder="Email" (change)="onchangeForm(orderForm)" required name="email" #email="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                <div *ngIf="email.invalid && (email.dirty || email.touched  || submitted)"
                     class="alert alert-danger">Email Name is required.</div>
              </li>
              <li>
                <input type="text" [(ngModel)]="order.phone" name="phone" (change)="onchangeForm()" placeholder="Phone number(optional)">
              </li>
            </ul>
          </form>
        </div>
        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th>Quantity</th>
              <th>Name</th>
              <th>Price</th>
              <!--<th>Image</th>-->
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of order.products; let i = index">
              <td>1</td>
              <td>{{item.name}}</td>
              <td>{{item.totalPrice}}</td>
              <!--<td><img src="{{path + item.image}}" width="100" height="100" /></td>-->
              <td><button (click)="removeService(item)" class="btn btn-xs btn-danger">Remove Product</button></td>
            </tr>
            <tr class="warning">
              <td></td>
              <td><p><strong>Items: {{order.totalQuantity}}</strong> </p></td>
              <td><p><strong> Total: ${{order.totalAmount}}</strong> </p></td>
              <td>
                <p *ngIf="paypalLoad">Paypal button is loading</p>
                <div id="paypal-checkout-btn"></div>
                <!--<button (click)="onCheckOut()" class="btn btn-xs btn-success">Test CheckOut</button>-->
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

