<section class="inner-pages">
  <div class="container">
  <h1>Facilities</h1>
    <div class="Facilities-page">
      <div class="fac-item"> <img src="./assets/images/fac-1.jpg" alt="">
        
      </div>
      <div class="fac-item"> <img src="./assets/images/fac-2.jpg" alt="">
 
      </div>
      <div class="fac-item"> <img src="./assets/images/fac-3.jpg" alt="">
        
      </div>
      <div class="fac-item"> <img src="./assets/images/fac-4.jpg" alt="">
        
      </div>
      
    </div>
  </div>
  <div class="fac-con"><div class="container"><p>
      Spring Hollow is a private, family farm located on 60 acres in south east Jessamine county, Kentucky. Our farm includes a wooded ravine with a creek and several natural springs. Obstacles, jumps and even some equestrian archery targets are scattered throughout the wooded trails. Next door we have access to several hundred acres at Bluegrass Sportsman League for additional riding.
  </p>
  <p>
      We have an indoor arena, 120X60 ft that is attached to a shed row with a hot/ cold water wash stall, private tack closets, 10X14 ft stalls. There is also a viewing area and bathroom for riders.
  </p>
  <p>
    
      Next to it is a lighted outdoor arena that is fenced and has footing that stays rideable in heavy rains and icy conditions. There are a growing variety of trail obstacles, jumps and horse games to use in both arenas.
  </p>
  <p>
    
      Turn-out is in 4 board fenced paddocks with run in sheds, or dry-lots for horses that have metabolic issues. We limit paddocks to 4 horse maximum for boarders to lessen personality issues among horses.There is limited parking available for horse trailers. Owners and barn managers have residences on site.
  </p>
  
  
  </div></div>
  
  
</section>